/* Navigation.module.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuIcon {
  font-size: 24px;
  display: none; /* Initially hide the menu icon on larger screens */
  cursor: pointer;
  /* keep icon on top */
  z-index: 1;
}

.navLinks {
  display: flex;
  align-items: center;
}

/* Styles specific for the slide out menu */
.drawer {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  background-color: #fff;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-top: 3rem;
  padding-bottom: 2rem;

  justify-content: center;
  
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.drawer.active {
  visibility: visible;
  opacity: 1;
  display: flex;
  transform: translateX(0);
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .menuIcon {
    display: block;
  }

  .navLinks {
    display: none; /* Hide the regular menu on smaller screens */
  }
}
