.project-card {
  width: 250px;
  height: 350px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12.5px;
  background-color: rgb(42, 42, 42);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  flex-shrink: 0;
  margin: 10px;
}

.card-img {
  border-radius: 5px;
  width: 100%;
  height: 225px;
}

.card-content {
  width: 100%;
  box-sizing: border-box;
}
